body {
    background-color: #34495e;
    margin: 10px;
    padding: 0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

h1 {
    font-size: 45px;
    font-weight: lighter;
}

#title {
    background-color: #27ae60;
    width: 100%;
    text-align: center;

}

#scorecard {
    margin: 0px auto;
    max-width: 800px;
    background-color: #ecf0f1;
    text-align: center;
}

.ScoreCardTable {
    border: 1px solid #ecf0f1;
}

.ScoreCardTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

td {
    width: 33.333%;
	font-size:24px;
}

a {
    font-size: 14px;
    white-space: nowrap;
	 color: #000000;
}

a:visited {
    color: #000000;
}

#p1total {
    background-color: #3498db;
}

#p2total {
    background-color: #65b8ed;
}

#p3total {
    background-color: #8ac6ed;
}

.sButton {
    display: inline-block;
    line-height: 47px;
    width: 100%;
    height: 50px;
}

.tButtonAddFirst {
    display: inline-block;
    width: 100%;
    height: 35px;
	font-size:25px;
	line-height:30px;
    background-color: #2ecc71;
    cursor: pointer;
}

.tButtonAdd {
    display: inline-block;
    width: 50%;
    height: 20px;
    background-color: #2ecc71;
    cursor: pointer;
}

.tButtonRemove {
    display: inline-block;
    width: 50%;
    height: 20px;
    background-color: #e74c3c;
    cursor: pointer;
}

input[type="text"] {
    margin: 0px auto;
    width: 80%;
    display: block;
    border: 0px;
    background-color: #ecf0f1;
    text-align: center;
	font-size:20px;
}
.pigout{
	font-size: 15px;
	text-decoration: underline;
	cursor:pointer;
}
